/* General */

body{
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 100%;
  color: #000;
}

.box-wrapper{
  background-color: #fff;
  /*padding-top: 5%;
  padding-bottom: 5%;*/
  padding: 5% 0;
}

.box-wrapper--grey{
  background-color: #EEE;
}

.box-content{
  width: 90%;
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 940px){
  .box-content{
    width: 940px;
  }
}

.strong{
  font-weight: 500;
}

.blue{
  color: #00aaef;
}

/*.clearfix::before{
  content: 'This content is from BEFORE';
}*/

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

@media only screen and (min-width: 780px){
  .element-on-left{
    float: left;
  }

  .element-on-right{
    float: right;
  }
}

/* HEADER */

.main-header{
  /*width: 100%;*/
  height: 100vh;
  background-image: url("../images/miami_header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: red;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* Logo */

.main-logo{
  text-align: center;
  padding-top: 5%;
}

/* Navigation */

.main-navigation{
  position: absolute;
  bottom: 5%;
  /*left: 50%;
  margin-left: -470px;*/
  left: 50%;
  transform: translateX(-50%);
}

/*.main-navigation:hover{
  bottom: 0;
}*/

.main-navigation__list{
  display: flex;
  justify-content: space-between;
  /*height: 400px;
  align-items: flex-end;*/
}

.main-navigation__item{
  display: inline-block;
  text-transform: uppercase;
  /*width: 16%;*/
  /*width: calc(100%/6);*/
  /*display:  inline;*/
  /*list-style-type: square;
  list-style-position: inside;
  list-style-image: url();*/
}

.main-navigation__link{
  color: #fff;
  text-decoration: none;
  /*transition: color .8s ease-out 2s, font-size 3s ease-in;*/
  transition: color .4s;
}

.main-navigation__link:hover,
.main-navigation__link:focus{
  text-decoration:  underline;
  color: #00aaef;
  /*font-size: 2em;*/
}

.column-title{
  width: 30%;
}

.column-text{
  width: 60%;
}

.column-text--half{
  width: 45%;
}

.column-buttons{
  width: 45%;
}

/* Titles */

.title{
  text-transform:  uppercase;
  font-weight: 300;
  font-size: 2.4em;
  line-height: 1.2;
}

.text-title{
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.2;
  margin-bottom: 30px;
}

.section-title{
  text-transform:  uppercase;
  font-weight: 300;
  font-size: 2.4em;
  line-height: 1.2;
  margin-top: -7%;
  margin-bottom: 5%;
  text-align: center;
}

.section-title__text{
  position: relative;
  display:  inline-block;
}

.section-title__text::before,
.section-title__text::after{
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background-color: #00aaef;
  position: absolute;
  bottom: -6px;
}

.section-title__text::before{
  left: 0;
}

.section-title__text::after{
  right: 0;
}

.section-title__icon{
  display: block;
  width: 21px;
  height: 13px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -10px;
  background:  url(../images/logo_small_reversed.svg) center no-repeat;
}

/* Text */

.text p{
  line-height: 1.4;
  margin-bottom: 30px;
}

.text ol,
.text ul{
  margin-bottom:  30px;
}

.text li{
  margin-bottom: 6px;
}

/* Buttons */

.button{
  display: inline-block;
  padding: 15px 0;
  background-color: #EEE;
  text-align: center;
  color: #393939;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
}

.button--full{
  width: 100%;
}

.button--blue{
  background-color: #00aaef;
  color: #fff;
}

.buttons-list__item{
  list-style: none;
  margin-bottom: 12px;
}

/* GALLERY */

.gallery{
  margin-bottom: 27px;
}

.gallery__list{
  display: flex;
  justify-content: space-between;
}

.gallery__item{
  list-style: none;
}

.gallery__caption{
  font-weight: 500;
  margin-top: 12px;
}

/* TESTIMONIALS */

.testimonial{
  display: flex;
  justify-content: space-between;
}

.testimonial__item{
  width: 28%;
  text-align: center;
}

.testimonial__figure{
  margin-bottom: 36px;
}

.testimonial__picture{
  border-radius: 50%;
}

.testimonial__caption{
  margin-top: 6px;
}

.testimonial__caption-name{
  display: block;
}

.testimonial__caption-role{
  color: #696973;
}

/* FOOTER */

.main-footer{
  height: 40vh;
  background-image: url("../images/miami_footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer > *{
  padding: 10% 0;
}